* {
  font-family: Roboto, "PingFang TC", "YuGothic", sans-serif;
  outline: none !important;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

span {
  font-family: inherit;
}

.navbar {
  background: #fff;
  -webkit-box-shadow: 0 1px 0 0 #eee;
  box-shadow: 0 1px 0 0 #eee;
}

.navbar-brand {
  height: 84px;
  font-size: 30.5px;
  line-height: 84px;
  font-weight: 700;
  color: #36474e !important;
  margin-left: 10px;
}

.design-studio {
  height: 66px;
  margin-top: -15px;
}

.navbar-toggler {
  border: none;
  position: absolute;
  right: -10px;
  top: 0px;
  width: 90px;
  height: 100px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#333333' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link {
  font-size: 14px;
  text-align: right;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  color: #333333 !important;
  margin-right: 12px;
  padding: 0px 0px 15px 10px !important;
}

.nav-link:hover {
  color: #aaaaaa !important;
}

#top-button {
  /*Button*/
  display: block;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 30px -5px #ddd;
  box-shadow: 0 5px 30px -5px #ddd;
  position: fixed;
  left: calc(50vw - 25px);
  bottom: 25px;
  z-index: 100;
  /*Arrow-Up*/
  color: #36474e;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
}

#filter {
  display: block;
  margin-top: 100px;
  margin-bottom: 1px;
  padding: 11px 20px 0px 20px;
  -webkit-box-shadow: 0 1px 0 0 #eee;
  box-shadow: 0 1px 0 0 #eee;
}

.btn {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-right: 8px;
}

.btn-light {
  color: #aaaaaa !important;
  background: none;
  border: 1px solid transparent;
}

.btn-light:hover {
  background: #36474e;
  color: #fff !important;
  border: 1px solid transparent;
}

.warning {
  color: #ff8282 !important;
  cursor: none;
}


/*work*/

#portfolio-col {
  background: #f7f7f7;
}

.port-link {
  cursor: pointer;
}

/*footer*/

#footer {
  height: 135px;
  background: #fff;
  -webkit-box-shadow: 0 -1px 0 0 #eee;
  box-shadow: 0 -1px 0 0 #eee;
}

.copyright {
  text-align: center;
  padding: 22px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #4b606a;
}

@media (min-width: 768px) {
  #navbarDropdown {
    border: none;
  }

  .nav-link {
    margin-top: 20px;
  }
}
