* {
  font-family: Barlow, "PingFang TC", "YuGothic", sans-serif;
  outline: none !important;
}

.navbar-brand {
  height: 150px;
  font-size: 30.5px;
  line-height: 200px;
  font-weight: 700;
  color: #222 !important;
}

.design-studio {
  font-size: 21px;
  font-weight: 400;
  color: #4a4a4a;
}

.navbar-toggler {
  border: none;
  position: absolute;
  right: 5px;
  top: calc(113px - 0.75em);
}

.divide-line {
  height: 1px;
  background: #eee;
}

#top-button {
  /*Button*/
  display: block;
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 30px 0px #ddd;
  box-shadow: 0 5px 30px 0px #ddd;
  position: fixed;
  left: calc(50vw - 30px);
  bottom: 30px;
  z-index: 3;
  /*Arrow-Up*/
  color: #4a4a4a;
  font-size: 21px;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
}

@media (min-width: 768px) {
  #navbarDropdown {
    border: none;
    position: absolute;
    right: 5px;
    top: calc(113px - 0.75em);
  }
}
