@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700');
@import url('../css/publicsans_css/publicsans.css');

* {
  font-family: 'Public Sans', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  letter-spacing: .025rem;
  outline: none !important;
  text-decoration: none !important;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.container-fluid {
  /* bootstrap adjusted */
  padding: 0;
}

.content-area {
  width: 90%;
  margin: 0 auto;
  padding-top: 4rem
}

.my-logo {
  display: block;
  height: 3.5rem
}

.my-name {
  display: inline-block;
  margin: 3rem 0 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  -webkit-box-shadow: inset 0 -15px 0 gold;
  box-shadow: inset 0 -15px 0 gold
}

.my-des {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #999 !important
}

.my-link {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #999 !important;
  -webkit-box-shadow: inset 0 -2px 0 gold;
  box-shadow: inset 0 -2px 0 gold;
  cursor: pointer
}

.my-link:hover {
  color: black !important;
  -webkit-box-shadow: inset 0 -0.7rem 0 gold;
  box-shadow: inset 0 -0.7rem 0 gold
}

.divide-line {
  display: block;
  width: 30%;
  height: 2px;
  margin: 4rem 0 4rem 0;
  background: #eee
}

.divide-line-max {
  display: block;
  width: 100%;
  height: 2px;
  margin: 4rem 0 4rem 0;
  background: #eee
}

/*modal custom adjustment*/

.modal-backdrop {
  background: white
}

.modal-backdrop.show {
  opacity: 1
}

.modal-dialog {
  max-width: inherit;
  width: 100%;
  margin: 0
}

.modal-content {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  border-radius: 0;
  border: none
}

.modal-header {
  padding: 0;
  margin-top: 3rem;
  border: none
}

.modal-title {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700
}

.modal-secondary-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.modal-header .close {
  padding: 0;
  margin: -2px 0 0 0;
  text-shadow: none;
}

.modal-close,
.modal-close-center {
  display: inline-block;
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  margin-top: .8rem;
  cursor: pointer
}

.modal-close-center {
  float: inherit;
  text-shadow: none;
}

.modal-des {
  font-weight: 400;
  color: #999;
  line-height: 1.6rem;
}

.modal-des-title {
  font-size: 1.05rem;
  font-weight: 700;
  color: #999;
}

.all-project-des,
.all-project-des-title {
  display: inline-block;
  font-weight: 400;
  line-height: 1rem;
  color: #999;
  text-align: center
}

.all-project-des-title {
  margin: 1rem auto 2rem auto
}

a:hover .all-project-des-title {
  color: black !important;
  -webkit-box-shadow: inset 0 -0.8rem 0 gold;
  box-shadow: inset 0 -0.8rem 0 gold
}

a .img-fluid {
  border-radius: .8rem
}

a:hover .img-fluid {
  opacity: 1;
}

/*modal custom adjustment*/

.section-title {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 2rem
}

.section-title-more {
  display: inline-block;
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  margin-top: 2.5rem;
  color: #ccc !important;
  cursor: pointer
}

.section-title-more:hover,
.modal-close:hover,
.modal-close-center:hover {
  color: black !important;
  -webkit-box-shadow: inset 0 -0.8rem 0 gold;
  box-shadow: inset 0 -0.8rem 0 gold
}

/*carousel-control*/

.carousel-control-next,
.carousel-control-prev {
  display: block;
  top: inherit;
  bottom: 2rem;
  right: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #ccc !important;
  background: transparent;
  border-radius: 1.5rem;
  border: 2px solid #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  opacity: 1
}

.carousel-control-prev {
  left: inherit;
  right: 4.7rem
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: inherit;
  height: inherit;
  background-image: none
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  content: "←";
  font-weight: 400
}

.carousel-control-next-icon:before {
  content: "→"
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #555;
  border-radius: 1.5rem;
  border: 2px solid #555
}

.carousel-indicators {
  width: 100%;
  height: 2px;
  margin: auto;
  top: auto;
  bottom: 8.5rem
}

.carousel-indicators {
  background-color: white
}

.carousel-indicators li {
  width: inherit;
  height: 2px;
  margin: 0;
  background-color: white;
  cursor: auto;
  pointer-events: none
}

.carousel-indicators .active {
  background-color: #555 !important
}

/* carousel-control */

.project-ex {
  height: calc(100vh - 6rem);
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-size: cover;
  background-position: center
}

.project-text {
  position: relative;
  height: 7.5rem;
  top: auto;
  bottom: calc(13.5rem - 100vh);
  background: #f6f6f6;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem
}

.project-t {
  padding: 0 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 3.8rem;
  color: #555
}

.project-link {
  display: block;
  width: 7rem;
  height: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: center;
  color: #555;
  border: 2px solid #555;
  border-radius: 1.5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.project-link:hover {
  color: #ccc;
  background: #555;
  border: 2px solid #555
}

/* footer */

#footer {
  margin: auto;
  font-size: .6rem;
  font-weight: 400;
  text-align: center
}


/* details page */

.details-content {
  width: 90%;
  text-align: center;
  margin: auto;
}

.details-backto {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  margin-top: 2.5rem;
  color: #ccc !important;
  cursor: pointer
}

.details-tohome {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #ccc !important;
  cursor: pointer
}

.details-prev {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #ccc !important;
  cursor: pointer;
  float: left
}

.details-next {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #ccc !important;
  cursor: pointer;
  float: right
}

.details-backto:hover,
.details-tohome:hover,
.details-prev:hover,
.details-next:hover {
  color: black !important;
  -webkit-box-shadow: inset 0 -0.8rem 0 gold;
  box-shadow: inset 0 -0.8rem 0 gold
}

.details-title {
  display: inline-block;
  margin: 5rem auto 1rem auto;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  -webkit-box-shadow: inset 0 -15px 0 gold;
  box-shadow: inset 0 -15px 0 gold
}

.details-seconarytitle {
  width: 90%;
  margin: 1rem auto .5rem auto;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-align: left;
  color: #999 !important
}

.details-info {
  margin: 1.5rem auto;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: center;
  color: #999;
}

.details-infocollection {
  width: 90%;
  margin: 1rem auto;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #999;
}

.details-des {
  width: 90%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #999 !important
}

.details-img {
  margin: 1rem auto .5rem auto;
  border-radius: .3rem;
}

.details-issuu {
  width: 100%;
  height: 360px;
}

.details-line {
  display: block;
  width: 30%;
  height: 2px;
  margin: 4rem auto;
  background: #eee
}

.details-line-max {
  display: block;
  width: 100%;
  height: 2px;
  margin: 4rem auto;
  background: #eee
}

/* project details */

@media (min-width: 576px) {

  .content-area,
  .modal-content {
    width: 80%
  }

  a .img-fluid {
    opacity: .75
  }

  .details-seconarytitle,
  .details-des,
  .details-infocollection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .details-issuu {
    height: 660px;
  }

  .project-t {
    font-size: 1.3rem
  }

  .project-link {
    font-size: 1rem
  }

}

@media (min-width: 1280px) {

  .content-area,
  .modal-content {
    width: 1024px
  }
}
