@charset "utf-8";

*{  
    font-family: 'Roboto', 'Material Icons' !important;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


@media screen and (min-width: 415px) and (max-width: 736px) and (orientation: landscape){  
    
    /*p1*/
    #intro { 
        height: 80vh;
        overflow: hidden;}
    
    #sun { 
        width: calc(80vh - 8vw);
        height: calc(80vh - 8vw);
        top: 4vw;
        left: calc(54vw - 40vh);}
    
    #selfie {
        min-width: 130px;
        min-height: 130px;
        top: calc(40vh - 65px);
        right: calc(30vw - 70px);} 
    
    #introH, #introI, #introM {
        font-size: 40px;
        top: calc(40vh - 55px);
        left: calc(30vw - 70px);}
    
    #introI, #introM {
        top: calc(40vh - 10px);
        left: calc(30vw - 50px);}
    
    #introM {
        top: calc(40vh + 35px);
        left: calc(30vw - 30px);}
    
    #tri1 {
        border-width: 15vh 30vh 0 0;}
    
    #tri2 {
        border-width: 0 0 15vh 30vh;
        top: calc(65vh - 25px);}
    
    #guide { height: 20vh;}
    
    #guideBox {
        width: 270px;
        height: 48px;}
    
    .gButton {
        width: 125px;
        height: 48px;
        border-radius: 18px;
        margin-top: calc(10vh - 24px);}
    
    .gButton a {
        font-size: 20px;
        line-height: 48px;
        padding-top: 3px;
        width: 88px;
        height: 45px;
        text-align: left;}
    
    .gButton h1 {
        margin-top: -36px;
        padding-left: 30px;}
    
    .gA { 
        margin-left: 20px;}
    
    
    /*p2*/
    #portFolio {
        display: block;
        height: 1020px;
        overflow: hidden;}
    
    #tri3 {
        width: 162px;
        height: 30px;
        top: 40px;
        left: 22vw;}
    
    .tPort, .tAbout {
        height: 30px;
        font-size: 30px;
        top: 22px;
        left: calc(22vw + 40px);}   
    
    #portPART {
        width: 56vw;
        margin-top: 30px;
        margin-left: 22vw;}
    
    .portBox {
        width: 56vw;
        margin-top: 10px;}

    .portBoxA {
        width: 56vw;}
    
    .portBoxA h1 {}
    
    .portBoxA h1 span {}


    /*p3*/
    
    #tri4 {
        width: 206px;
        height: 30px;
        top: 40px;
        left: 22vw;}
    
    #tri5 {
        border-width: 0 0 6vw 12vw;
        top: -9vw;
        left: 62vw;}
    
    #meBox1 {
        width: 56vw;
        height: 36vw;
        overflow: hidden;
        margin-left: 22vw;
        margin-top: 45px;}
    
    #meBox2, #meBox3, #meBox4 {
        width: 56vw;
        margin-left: 22vw;}
    
    #meBox2 { margin-top: -36px;}
    
    #meS { 
        width: 56vw;}
    
    h2, h3, h4, h5, h6 { 
        letter-spacing: 0px;}
    
    h2 { 
        font-size: 18px;
        line-height: 25px;
        padding-top: 32px;}

    h3 { 
        font-size: 26px;
        line-height: 26px;}

    h4 {}
    
    h4 span {}
    
    h5 {}
    
    h6 {}
    
    /*cpright*/
    #copyRight {
        height: 36px;
        line-height: 38px;}
    
    /*go to top*/
    #goTop, #goTop a, #goMeng, #goMeng a, #goPort, #goPort a {
        display: none;
        width: 44px;
        height: 46px;
        border-radius: 11px;
        top: 3vw;
        right: 3vw;}
    
    #goTop a, #goMeng a, #goPort a {
        display: block;
        font-size: 28px;
        padding-top: 14px;
        height: 28px;}
    
    #goMeng, #goMeng a, #goPort, #goPort a { top: calc(3vw + 55px);}
    
    /*loading*/
    #wait {}
    
    .loading {}
}

    