@charset "utf-8";

*{  
    font-family: 'Roboto', 'Material Icons' !important;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #fafafa;
}


@media screen and (min-width:0px){  
    
    /*p1*/
    #intro { 
        width: 84vw;
        margin: auto;}
    
    #tri1 {
        display: block;
        width: 60vw;
        height: 72px;
        background: #ffcf55;
        position: relative;
        top: 60px;
        z-index: 0;}
    
    #tri2 {
        display: block;
        width: 84vw;
        height: 2px;
        background: #eee;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px; }
    
    #introBox {
        display: block;
        left: 6vw;
        background: transparent;
        position: relative;
        z-index: 1;}
    
    #intro h1 {
        display: block;
        font-size: 28px;
        line-height: 38px;
        font-weight: 900;
        padding-bottom: 48px;
        background: inherit;}
    
    #intro h1 span {
        font-size: 28px;
        line-height: 32px;
        font-weight: 500;
        color: #222;
        background: inherit;}
    
    #intro h2 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: #444;}
    
    h3 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
        margin-left: 8vw;
        color: #444;}
    
    #intro a { 
        font-size: 14px;
        line-height: 28px;
        font-weight: 700;
        font-style: italic;
        padding-bottom: 4px;
        color: #e6a500;}
    
    #intro a:hover {
        box-shadow: 0 2px 0 0 #e6a500;}
    
    .portPhoto {
        width: 84vw;
        border-radius: 8px;
        margin-top: 15px;
        margin-left: 8vw;}
    
    
    /*button*/
    #sButton {
        display: block;
        width: 84vw;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;}
    
    .sB {
        display: block;
        width: 84vw;
        height: 36px;
        text-align: center;
        color: #222;
        background: #ffcf55;
        margin-top: 10px;
        border-radius: 12px;}
    
    .sB a {
        display: block;
        height: 36px;
        line-height: 38px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #222;
        background: #ffcf55;
        border-radius: 12px;}
    
    .sB span {
        font-size: 17px;
        line-height: 36px;
        vertical-align: -4px;
        margin-right: 8px;
        background: #ffcf55;}
    
    .sLast a { 
        text-align: left;
        margin-left: 12px;}
    
    .sNext a { 
        text-align: right;
        margin-right: 12px;}
    
    .sNext span { 
        margin-right: 0;
        margin-left: 8px;}
    
    .sDis, .sDis a, .sDis span {
        color: #888;
        background: #ddd;}
    
    #goTop, #goTop a {
        display: none;
        width: 40px;
        height: 42px;
        border-radius: 8px;
        background: #ffcf55;
        position: fixed;
        top: 3vh;
        right: 3vh;
        z-index: 2;}
    
    #goTop a {
        display: block;
        color: #222;
        background: transparent;
        font-size: 28px;
        padding-top: 13px;
        height: 23px;
        text-align: center;}
    
    
    /*cpright*/
    #copyRight {
        display: block;
        width: 100vw;
        height: 40px;
        font-size: 11px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #222;
        background: #f4f4f4;
        clear: both;}
    
    
    
    /*loading*/
    #wait {
        display: block;
        height: 100vh;
        width: 100vw;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;}
    
    .loading {
        display: block;
        text-align: center;
        color: #ffcf55;
        font-size: 32px;
        width: 50px;
        height: 37px;
        padding-top: 13px;
        position: absolute;
        top: calc(50vh - 25px);
        left: calc(50vw - 25px);
        -webkit-animation: loading 2s infinite linear;
        -moz-animation: loading 2s infinite linear;
        -o-animation: loading 2s infinite linear;
        animation: loading 2s infinite linear;}
    
    @keyframes loading {
        from { transform: rotate(360deg); }
        to { transform: rotate(0deg); } }
    
    @-webkit-keyframes loading {
        from { -webkit-transform: rotate(360deg); }
        to { -webkit-transform: rotate(0deg); } }

    @-moz-keyframes loading {
        from { -moz-transform: rotate(360deg); }
        to { -moz-transform: rotate(0deg); } }
    
    @-o-keyframes loading {
        from { -o-transform: rotate(360deg); }
        to { -o-transform: rotate(0deg); }}
}

    