@charset "utf-8";

@media (min-width: 769px){

    /*cpright*/
    
    #copyRight {
        height: 100px;
    }
    
    
    /*nav*/
    
    #floatnav {
        left: auto;
        right: 35px;
    }
    
}

@media (min-width: 901px){  
    
    #intro1 {
        width: 300px;
        height: 100vh;
        max-height: 100vh;
        background: #fafafa;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
    #shapenone { 
        display: block;
        width: 200px;
        height: 35px;
    }
    
    
    #intro2 {
        width: calc(100vw - 300px);
        flex: 1;
        overflow: hidden;
        margin-left: 300px;
    }
    
    #line {
        width: calc(100vw - 370px);
        margin-left: 335px;
    }
    
    /*p2*/
    
    #content {
        width: calc(100vw - 300px);
        margin-left: 300px;
        height: auto;
        background: #f7f7f7;
    }
    
    .portPhoto {
        width: calc(100vw - 370px);
        border-radius: 8px;
        margin-top: 4px;
        margin-left: 35px;
        margin-bottom: 35px;}
    
    
    /*cpright*/
    
    #copyRight {
        width: calc(100vw - 300px);
        margin-left: 300px;
    }
    
    
    /*nav*/
    
    #floatnav {
        left: 35px;
        bottom: 35px;
    }
}


@media (min-width: 415px) and (max-width: 736px) and (orientation: landscape){

    /*cpright*/
    
    #copyRight {
        height: 100px;
    }
    
    
    /*nav*/
    
    #floatnav {
        left: auto;
        right: 35px;
    }
    
}

    