@charset "utf-8";

*{  
    font-family: 'Roboto', 'Material Icons' !important;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #fafafa;
}


@media screen and (min-width: 913px){  
    
    /*p1*/
    #intro, #content { 
        width: 768px;}
    
    #tri1 {
        width: 480px;
        height: 36px;}
    
    #tri2 {
        width: 768px;}
    
    #topicBr { display: none;}
    
    #introBox {
        width: 600px;
        margin-top: -20px;}
    
    .portPhoto {
        width: 768px;}
    
    
    /*button*/
    #sButton {
        width: 768px;}
    
    .sB {
        width: 320px;
        margin: auto;
    
        margin-top: 10px;}
    
    .sLast a { 
        text-align: left;
        margin-left: 12px;}
    
    .sNext a { 
        text-align: right;
        margin-right: 12px;}
    
    .sNext span { 
        margin-right: 0;
        margin-left: 8px;}
    
    .sDis, .sDis a, .sDis span {
        color: #888;
        background: #ddd;
        cursor: default;}
    
    #goTop, #goTop a {
        display: block;
        width: 40px;
        height: 42px;
        border-radius: 8px;
        background: #ffcf55;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 2;}
    
    #goTop a {
        display: block;
        color: #222;
        background: transparent;
        font-size: 28px;
        padding-top: 13px;
        height: 23px;
        text-align: center;}
    
    
    /*cpright*/
    #copyRight {
        display: block;
        width: 100vw;
        height: 40px;
        font-size: 11px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #222;
        background: #f4f4f4;
        clear: both;}
    

    /*loading*/
}

    