@charset "utf-8";

*{  
    font-family: 'Roboto', 'Material Icons' !important;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#copyRight {
    display: block;
    width: 100vw;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    color: #ffcf55;
    background: #333;
    margin-top: -80px;
    border-bottom: 2px solid #2a2a2a;
    clear: both;
    display: none;}

@media screen and (min-width:0px){  
    
    /*p1*/
    #intro { 
        display: block;
        width: 100vw;
        height: 80vh;
        font-weight: 900;}
    
    #introH {
        display: block;
        font-size: 60px;
        font-weight: 900;
        color: #222;
        position: absolute;
        top: calc(40vh - 105px);
        left: calc(50vw - 122px);
        color: #ddd;}
    
    #introI, #introM {
        display: block;
        font-size: 60px;
        font-weight: 400;
        color: #222;
        position: absolute;
        top: calc(40vh - 35px);
        left: calc(50vw - 122px);}
    
    #introM {
        font-weight: 900;
        top: calc(40vh + 35px);
        left: calc(50vw - 122px);}
    
    #tri1 {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10vh 20vh 0 0;
        border-color: #ffcf55 transparent transparent transparent;
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;}
    
    #tri2 {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10vh 20vh;
        border-color: transparent transparent #ffcf55 transparent;
        display: block;
        position: absolute;
        bottom: calc(20vh + 25px);
        right: 25px;}
    
    #guide {
        width: 100vw;
        height: 20vh;
        background: #fcfcfc;}
    
    #guideBox {
        width: 240px;
        height: 100px;
        margin: auto;}
    
    .gButton {
        display: block;
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        color: #222;
        background: #fcfcfc;
        float: left;
        margin-top: calc(10vh - 50px);}
    
    .gButton:hover {
        background: #f3f3f3;}
    
    .gButton a {
        display: block;
        color: #333;
        font-size: 36px;
        line-height: 40px;
        padding-top: 24px;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: auto;}
    
    .gButton h1 {
        height: 20px;
        line-height: 18px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;}
    
    .gA { 
        margin-left: 40px;}
    
    
    /*p2*/
    #portFolio {
        height: 100vh;
        background: #fafafa;
        padding-bottom: 30px;}
    
    #tri3 {
        display: block;
        width: 144px;
        height: 36px;
        background: #ffcf55;
        position: relative;
        top: 160px;
        left: 8vw;}
    
    .tPort, .tAbout {
        display: block;
        height: 6vh;
        font-size: 36px;
        font-weight: 900;
        letter-spacing: 1px;
        color: #222;
        position: relative;
        left: 15vw;
        top: 140px;}   
    
    #portPART {
        width: 84vw;
        height: 100vh;
        margin-top: 180px;
        margin-left: 8vw;
        background: #fafafa;
        float: left;}
    
    #portBoxW {
        
    }

    #poox a {
        display: block;
        width: 120px;
        height: 90px;
        color: #222;
        background: #222;
        background-size: contain;
        background-repeat: no-repeat;}


}

    