@charset "utf-8";

*{  
    font-family: 'Roboto', 'Material Icons' !important;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


@media screen and (min-width:563px){  
    
    /*p1*/
    
     #selfieBox {
        top: 15vh;}
    
    #introH {
        display: block;
        font-size: 72px;
        font-weight: 900;
        position: absolute;
        top: 50vh;
        left: calc(10vw - 8px);
        color: #f5b719;}
    
    #introI, #introM {
        display: block;
        font-size: 72px;
        font-weight: 400;
        color: #222;
        position: absolute;
        top: calc(50vh + 80px);
        left: 10vw;
        z-index: 1;}
    
    #introM {
        font-weight: 900;
        top: calc(50vh + 80px);
        left: calc(10vw + 158px);}

}

    