@charset "utf-8";

*{  
    font-family: 'Roboto', 'Material Icons' !important;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


@media screen and (min-width:768px){  
    
    /*p1*/
    
    #tri1 {
        border-width: 134px 268px 0 0;}
    
    #tri2 {
        top: calc(85vh - 4vw - 134px);
        border-width: 0 0 134px 268px;}
    
    
    /*p2*/
    #portFolio {
        height: 1440px;}
    
    #tri3 {
        left: calc(50vw - 324px);}
    
    .tPort, .tAbout {
        left: calc(50vw - 284px);} 
    
    #portPART {
        width: 648px;
        height: 1300px;
        margin-top: 60px;
        margin-left: calc(50vw - 324px);}
    
    .portBox {
        width: 304px;
        height: 268px;
        margin-top: 36px;
        float: left;}
    
    .pB768 {
        margin-left: 40px;}
    
    .portBox br {
        display: none;}

    .portBoxA {
        width: 304px;
        height: 276px;}
    
    .portBoxA h1 {
        height: 40px;
        width: 304px;
        line-height: 40px;
        padding: 0;
        padding-top: 228px;
        text-align: center;}


    /*p3*/
    
    #aboutMe { padding-bottom: 100px;}
    
    #tri4 {
        left: calc(50vw - 324px);}
    
    #tri5 {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 60px 120px;
        border-color: transparent transparent #fff transparent;
        display: block;
        position: relative;
        top: -90px;
        left: calc(50vw + 169px);}
    
    #meBox1 {
        width: 648px;
        height: 400px;
        margin-left: calc(50vw - 324px);}
    
    #meBox2, #meBox3, #meBox4 {
        width: 304px;
        margin-left: calc(50vw - 284px);}
    
    #meBox4 {
        width: 284px;
        margin-left: calc(50vw + 30px);
        margin-top: -520px;}
    
    #meS { 
        width: 648px;
        margin: auto;
        margin-top: -120px;}
}


@media screen and (min-width: 913px){  
        
    #goTop, #goTop a, #goMeng, #goMeng a, #goPort, #goPort a {
        top: 15px;
        right: 15px;}
    
    #goMeng, #goMeng a, #goPort, #goPort a { top: 68px;}
}
