@charset "utf-8";

@media (min-width:901px){  
    
    /*p1*/
    
    #intro {
        flex-direction: row;
    }
    
    #intro1 {
        width: 300px;
        height: 100vh;
        max-height: 100vh;
        background: #fafafa;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    #shapenone { 
        display: block;
        width: 200px;
        height: 35px;
    }
    
    #nav {
        position: absolute;
        bottom: 45px;
    }
    
    #navBr, .button, #quickinfo {
        display: inline-block;
    }
    
    #quickinfo2 {
        display: none;
    }
    
    #intro2 {
        width: calc(100vw - 300px);
        flex: 1;
        overflow: hidden;
        margin-left: calc(100vw - 300px);
    }
    
    /*p2*/
    
    #title {
        width: 500px;
    }
    
    #portFolio {
        width: calc(100vw - 300px);
        margin-left: 300px;
        background: #f7f7f7;
        padding-bottom: 60px;}
    
    #selector {
        width: 500px;
        margin: auto;
        margin-left: 35px;
        margin-top: 40px;}

    #portBox {
        width: calc(100vw - 300px);
    }
    
    .portfolio {
        width: calc(50vw - 195px);
        height: calc(37.5vw - 147px);
        margin-top: 30px;
        margin-left: 30px;
    }
    
    #gallery {
        width: calc(50vw - 195px);
        height: calc(37.5vw - 147px);
    }
    
    #gallery img {
        width: calc(50vw - 195px);
        height: calc(37.5vw - 147px);;
    }
    
    #descBox {
        width: calc(50vw - 195px);
        height: calc(37.5vw - 147px);;
        top: calc(0px - 37.5vw + 147px);
    }
    
    /*p3*/
    
    #aboutMe { 
        width: calc(100vw - 300px);
        margin-left: 300px;
    }
    
    .aBox {
        width: calc(50vw - 200px);
        margin-left: 35px;
    }
    
    /*cpright*/
    
    #copyRight {
        width: calc(100vw - 300px);
        margin-left: 300px;
    }
    
    
    /*nav*/
    
    #floatnav {
        left: auto;
        right: 30px;
    }
}