@charset "utf-8";

@media (min-width: 415px) and (max-width: 736px) and (orientation: landscape){  
    
    /*p1*/
    
    #intro {
        flex-direction: row;
    }
    
    #intro1 {
        width: 300px;
        height: 100vh;
        max-height: 100vh;
        background: #fafafa;
        padding-bottom: 0;
        overflow: hidden;
        z-index: 2;
    }
    
    #nav {
        width: 200px;
    }
    
    #nav {
        position: absolute;
        bottom: 20px;
    }
    
    #intro2 {
        width: calc(100vw - 300px);
        flex: 1;
        overflow: hidden;
        margin-left: 300px;
    }
    
    #selfBox {
        width: calc(100vw - 300px);
        max-width: 900px;
        height: 100vh;
        max-height: 900px;
        border-top-left-radius: 200px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    #self2 {
        width: 120vh;
        max-width: 1200px;
        height: 120vh;
        max-height: 1200px;
        margin: 0;
    }
    
    /*cpright*/
    
    #copyRight {
        height: 100px;
    }
    
    /*nav*/
    
    #floatnav {
        left: auto;
        right: 30px;
    }
}

    