* {
  font-family: Barlow, "PingFang TC", "YuGothic", sans-serif;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
}

span {
  font-family: inherit;
}

.navbar {
  background: #fff;
  -webkit-box-shadow: 0 1px 0 0 #eee;
  box-shadow: 0 1px 0 0 #eee;
}

.navbar-brand {
  height: 104px;
  font-size: 30.5px;
  line-height: 84px;
  font-weight: 700;
  color: #36474e !important;
  margin-left: 23px;
}

.design-studio {
  height: 60px;
}

.navbar-toggler {
  border: none;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 120px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#dcdddd' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link {
  text-align: right;
  font-weight: 500;
  margin-right: 23px;
  padding: 0px 0px 15px 10px !important;
}

.btn-light {
  background: none;
  border: 1px solid transparent;
}

.btn-light:hover {
  background: #4b606a;
  color: #fff !important;
  border: 1px solid transparent;
}

.btn-gray {
  background: #ddd;
  color: #fff;
  border: 1px solid transparent;
}

.btn-gray:hover {
  background: none;
  color: #ccc !important;
  border: 1px solid #ccc;
}

.work-space {
  padding: 0px 40px;
}

.work-title {
  line-height: 1.5;
  padding-top: 40px;
  color: #4a4a4a;
}

.work-tag {
  line-height: 1.5;
  padding-bottom: 20px;
  color: #bbb;
}

.work-pic {
  padding: 0;
}

.work-ps {
  font-size: 13px;
  font-weight: 700;
  color: #4a4a4a;
}

.work-time {
  color: #ccc;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.wa-shadow {
  -webkit-box-shadow: 0 2px 10px -2px #ddd;
  box-shadow: 0 2px 10px -2px #ddd;
}

.divide-line {
  height: 1px;
  background: #eee;
  margin-bottom: 20px;
}

#top-button {
  /*Button*/
  display: block;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 30px -5px #ddd;
  box-shadow: 0 5px 30px -5px #ddd;
  position: fixed;
  left: calc(50vw - 25px);
  bottom: 25px;
  z-index: 100;
  /*Arrow-Up*/
  color: #36474e;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
}

#filter {
  display: block;
  margin-top: 136px;
  margin-bottom: 1px;
  padding: 18px 32px 8px 32px;
  -webkit-box-shadow: 0 1px 0 0 #eee;
  box-shadow: 0 1px 0 0 #eee;
}

.btn {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-right: 8px;
}

.btn-light {
  background: none;
  border: none;
}

.btn-light:hover {
  background: #4b606a;
  color: #fff !important;
  border: none;
}

#portfolio-col {
  background: #f7f7f7;
}

.port-link {
  cursor: pointer;
}

#footer {
  height: 135px;
  background: #fff;
  -webkit-box-shadow: 0 -1px 0 0 #eee;
  box-shadow: 0 -1px 0 0 #eee;
}

.copyright {
  text-align: center;
  padding: 22px;
  font-size: 12px;
  color: #4b606a;
}

.warning {
  color: #ff8282 !important;
  cursor: none;
}

@media (min-width: 576px) {
  .work-pic {
    padding: 0 40px;
  }
}

@media (min-width: 768px) {
  #navbarDropdown {
    border: none;
  }

  .nav-link {
    margin-top: 20px;
  }
}
