* {
  font-family: Roboto, "PingFang TC", "YuGothic", sans-serif;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
}

span {
  font-family: inherit;
}

.navbar {
  background: #fff;
  -webkit-box-shadow: 0 1px 0 0 #eee;
  box-shadow: 0 1px 0 0 #eee;
}

.navbar-brand {
  height: 84px;
  font-size: 30.5px;
  line-height: 84px;
  font-weight: 700;
  color: #36474e !important;
  margin-left: 10px;
}

.design-studio {
  height: 66px;
  margin-top: -15px;
}

.navbar-toggler {
  border: none;
  position: absolute;
  right: -10px;
  top: 0px;
  width: 90px;
  height: 100px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#333333' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link {
  font-size: 14px;
  text-align: right;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  color: #333333 !important;
  margin-right: 12px;
  padding: 0px 0px 15px 10px !important;
}

.nav-link:hover {
  color: #aaaaaa !important;
}

.btn-gray {
  letter-spacing: 1px !important;
  font-weight: 500;
  background: #ccc;
  color: #fff;
  border: 1px solid transparent;
}

.btn-gray:hover {
  background: #36474e;
  color: #fff !important;
  border: 1px solid #36474e;
}

.btn-gray-one {
  margin-top: 5px !important;
}

.btn-gray-last {
  margin-bottom: 50px !important;
}

/*about&contact*/

.work-space {
  padding: 0px 40px;
}

.work-content {
  margin-top: 54px;
}

.self-content {
  margin-top: 164px;
}

.self-pic {
  width: 100%;
  max-width: 360px;
  margin-bottom: 50px;
}

.work-title {
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.work-big {
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 900;
  color: #36474e;
}

.work-big-2 {
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 900;
  color: #36474e;
}

.work-des {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.work-des-sp {
  margin: 20px 0 59px 0;
}

.work-des-sm {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

/*system*/

.divide-line {
  height: 1px;
  background: #eee;
  margin-bottom: 20px;
}

#top-button {
  /*Button*/
  display: block;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 30px -5px #ddd;
  box-shadow: 0 5px 30px -5px #ddd;
  position: fixed;
  left: calc(50vw - 25px);
  bottom: 25px;
  z-index: 100;
  /*Arrow-Up*/
  color: #36474e;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
}

#filter {
  display: block;
  margin-top: 136px;
  margin-bottom: 1px;
  padding: 18px 32px 8px 32px;
  -webkit-box-shadow: 0 1px 0 0 #eee;
  box-shadow: 0 1px 0 0 #eee;
}

/*work*/

#portfolio-col {
  background: #f7f7f7;
}

.port-link {
  cursor: pointer;
}

#footer {
  height: 135px;
  background: #fff;
  -webkit-box-shadow: 0 -1px 0 0 #eee;
  box-shadow: 0 -1px 0 0 #eee;
}

.copyright {
  text-align: center;
  padding: 22px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #4b606a;
}


@media (min-width: 576px) {
  .work-pic {
    padding: 0 40px;
  }

  .self-pic {
    width: 100%;
    max-width: 300px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  #navbarDropdown {
    border: none;
  }

  .nav-link {
    margin-top: 20px;
  }
}
