@charset "utf-8";

@media screen and (min-width:0px){
    /*background*/
    #back {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        z-index: -1;}    
    
    #back img {
        width: 2000px;
        position: fixed;}
    
    /*header*/
    #header {
        display: none;
        width: 100vw;
        height: 110px;
        background: rgba(255, 255, 255, 0.95);
        position: fixed;
        z-index: 2;}
    
    #topic, #buttons, #homeT, #homeE, homeTi,
    #aboutC, #aboutW, #poster, #downloadW, #manual,
    #footer {    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;}
    
    #topic { 
        width: 100vw;
        height: 60px;
        cursor: pointer;}
    
    .enter { display: none;}
    
    #buttons { 
        width: 100vw;
        height: 50px;
        box-sizing: border-box;
        border-top: 1px solid rgba(22, 100, 139, 0.2);}
    
    #t1, #t2, #t3, #t4, #t5 {
        font-weight: 600;
        color: #05547c;
        margin-left: 8px;}
    
    #t1 { 
        font-size: 17px;
        line-height: 12px;
        margin-left: 0;}
    
    #t1 span {
        font-size: 10px;}
    
    #t2 {
        font-size: 14px;}
    
    #t3 {
        font-size: 12px;
        line-height: 15px;}
    
    #t3 span {
        font-size: 13px;}
    
    #t4 {
        font-size: 14px;}
    
    #t5 {
        font-size: 12px;}
    
    .b1, .b2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        color: #05547c; 
        cursor: pointer;}
    
    .b2 { margin-left: 20px;}
    
    .b1:hover, .b2:hover { 
        box-shadow: 0 2px 0 0 #05547c;}


/*homepage*/
    #home {
        width: 100vw;
        height: 100vh;}
    
    #homeT {
        width: 100vw;
        padding-top: 60px;
        height: calc(60vh - 60px);
        flex-direction: column;}
    
    #hT1, #hT2, #hT3 {
        font-weight: 600;
        color: #FFF;
        margin-left: 40px;}
    
    #hT1 { 
        font-size: 52px;
        line-height: 36px;
        margin-left: 0;}
    
    #hT1 span {
        font-size: 30px;}
    
    #hT2 {
        font-size: 24px;
        margin: 0;
        margin-top: 12px;}
    
    #hT3 {
        font-size: 46px;
        line-height: 40px;
        margin: 0;
        margin-top: 12px;}
    
    #hT3 span {
        font-size: 50px;
        line-height: 60px;}
    
    #homeE {
        height: 10vh;}
    
    .shape1 {
        display: block;
        background: #fff;
        width: 20px;
        height: 2px;}
    
    #hE1 {
        font-size: 16px;
        color: #FFF;
        margin: 0 12px;}
    
    #homeTi {
        height: 15vh;
        flex-direction: column;}
    
    #hTi1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: #fff;
        text-align: center;}
    
    #homeS {
        height: 20vh;}
    
    #scroll, .click {
        display: block;
        width: 180px;
        height: 28px;
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;
        color: #fff;
        text-align: center;
        border: 2px solid #FFF;
        margin: auto;}
    
    .click:hover {
        color: #05547c;
        background: #FFF;
        cursor: pointer;}
    
    #scroll { margin: auto;}
    
    #about {
        width: 100vw;}
    
    #aboutC, #aboutW, #downloadW {
        width: 100vw;}
    
    #aboutW { margin-top: 40px;}
    
    #aboutC a {
        font-size: 32px;
        font-weight: 600;
        line-height: 60px;
        color: #fff;
        box-shadow: 0 5px 0 0 #fff;}
    
    #aboutW a {
        width: 80vw;
        margin: auto;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        text-align: center;
        color: #fff;}
    
    #downloadW a {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        color: #fff;
        box-shadow: 0 5px 0 0 #fff;}
    
    #about, #download {
        width: 100vw;
        margin-top: 120px;}
    
    #downloadW, #poster, #manual {
        margin-top: 50px;
        flex-direction: column;}
    
    #downloadP, #downloadM {
        width: 25vw;
        min-width: 250px;
        box-sizing: border-box;
        border: 3px solid #fff;
        background-repeat: no-repeat;
        background-size: contain;}
    
    .c1 { margin-top: 20px;}

/*footer*/
    #footer {
        margin-top: 50px;
        height: 120px;
        width: 100vw;
        background: rgba(255, 255, 255, 0.7);
        flex-direction: column;}
    
    #footer a {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        color: #16648b;}
}



@media screen and (min-width:999px){ 
    
    #back img {
        width: auto;
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        left: 0;}   

    /*header*/
    
    #topic, #buttons, #homeT, #homeE, homeTi,
    #aboutC, #aboutW, #poster, #downloadW, #manual,
    #footer { flex-direction: row;}

    #header {
        width: 100vw;
        min-width: 1000px;
        height: 72px;}

    #topic { 
        width: 55vw;
        min-width: 550px;
        height: 72px;
        float: left;}
    
    .trans { display: none;}
    
    #buttons { 
        width: 45vw;
        min-width: 450px;
        height: 72px;}
    
    #t1, #t2, #t3, #t4, #t5 {
        margin-left: 10px;}
    
    #t1 { 
        font-size: 27px;
        line-height: 20px;
        margin-left: 0;}
    
    #t1 span {
        font-size: 16px;
        line-height: 10px;}
    
    #t2 { font-size: 30px;}
    
    #t3 {
        font-size: 20px;
        line-height: 23px;}
    
    #t3 span {
        font-size: 22px;}
    
    #t4 {
        font-size: 30px;
        margin-left: 20px;}
    
    #t5 { font-size: 16px;}

    .b1, .b2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        color: #05547c; 
        cursor: pointer;}

    .b2 { margin-left: 30px;}

    .b1:hover, .b2:hover { 
        box-shadow: 0 2px 0 0 #05547c;}


/*homepage*/
    #home {
        min-width: 1000px;
        height: 100vh;
        min-height: 600px;}

    #homeT {   
        min-width: 1000px;
        height: 60vh;
        min-height: 360px;}

    #hT1, #hT2, #hT3 {
        margin-left: 40px;}
    
    #hT1 { 
        font-size: 86px;
        line-height: 66px;
        margin-left: 0;}

    #hT1 span {
        font-size: 50px;}

    #hT2 {
        font-size: 80px;}

    #hT3 {
        font-size: 72px;
        line-height: 60px;}

    #hT3 span {
        font-size: 80px;
        line-height: 90px;}

    #homeE {
        height: 10vh;
        min-height: 60px;
        margin-top: -20vh;}

    .shape1 {
        width: 60px;
        height: 2px;}

    #hE1 {
        font-size: 30px;
        color: #FFF;
        margin: 0 40px;}

    #homeTi {
        height: 10vh;
        min-height: 60px;
        margin-top: 10vh;}

    #hTi1 {
        font-size: 20px;
        line-height: 28px;}

    #homeS {
        height: calc(20vh - 72px);
        min-height: 48px;}

    #scroll, .click {
        width: 200px;
        height: 48px;
        font-size: 18px;
        line-height: 52px;}
    
    .click { margin: 0;}

    #about {
        min-width: 1000px;
        height: 100vh;
        min-height: 600px;}

    #aboutC, #aboutW {
        width: 50vw;
        min-width: 500px;
        height: 100vh;
        min-height: 600px;
        float: left;}

    #aboutC a {
        font-size: 45px;
        line-height: 60px;
        margin-left: 8vw;}

    #aboutW a {
        font-size: 18px;
        line-height: 28px;
        margin-right: 8vw;
        text-align: left;}

    #download {
        clear: both;
        min-width: 1000px;
        height: 100vh;
        min-height: 600px;}

    #downloadW, #poster, #manual {
        height: 100vh;
        min-height: 600px;
        margin-right: 2vw;
        flex-direction: column;
        float: left;}

    #downloadW {
        margin-right: 8vw;
        margin-left: 15vw;}

    #manual { 
        margin-right: 15vw;}

    #downloadW { 
        width: 10vw;
        min-width: 100px;}

    #downloadW a {
        font-size: 45px;
        line-height: 60px;}
    
    .c1 { margin-top: 20px;}

/*footer*/
    #footer {
        height: 60px;}

    #footer a {
        line-height: 62px;
        margin-left: 20px;}
    
    #footer a:first-child {
        margin-left: 0}
    
}


@media screen and (min-width: 415px) and (max-width: 736px) and (orientation: landscape){ 
    
    #homeT {
        width: 100vw;
        padding-top: 60px;
        height: calc(35vh - 60px);
        flex-direction: row;}
    
    #hT1, #hT2, #hT3 {
        font-weight: 600;
        margin-left: 20px;}
    
    #hT1 { 
        font-size: 44px;
        line-height: 36px;
        margin-left: 0;}
    
    #hT1 span {
        font-size: 26px;}
    
    #hT2 {
        font-size: 30px;}
    
    #hT3 {
        font-size: 38px;
        line-height: 24px;}
    
    #hT3 span {
        font-size: 40px;}
    
    #homeE {
        height: 20vh;}
    
    .shape1 {
        display: block;
        background: #fff;
        width: 20px;
        height: 2px;}
    
    #hE1 {
        font-size: 18px;
        color: #FFF;
        margin: 0 12px;}
    
    #homeTi {
        height: 25vh;}
    
    #hTi1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: #fff;
        text-align: center;}
    
    #homeS {
        height: 20vh;}
}
    