@charset "utf-8";

@media screen and (min-width:0px){
    
    /*header*/
    #home, #page {
        width: 88vw;
        height: calc(100vh - 6vw - 60px);
        margin-left: 6vw; 
    }
    
    #home {
        border-top: 60px solid #fff;
        background-image: url(home2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #header {
        position: fixed;
        z-index: 2;
    }
    
    #logo, #navBar{
        width: calc(94vw - 60px);
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        font-weight: 900;
        color: #4a4a4a;
        background: #fff;
        float: left;
        letter-spacing: 1px;
    }
    
    #navBar { 
        width: 60px;
        height: 55px;
        font-size: 28px;
        padding-top: 5px;
        text-align: right;
        padding-right: 6vw;
        margin: 0;
        cursor: pointer;
    }
    
    #logo a span {
        color: #00AA90;
        margin-left: 6vw;
    }
    
    #hBox {
        width: 100vw;
        height: 6vw;
        background: #fff;
        position: fixed;
        bottom: 0;
        z-index: 2;
    }
    
    #tag, #tag2 { 
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        padding: 4px 10px;
        color: #00AA90;
        background: #fff;
        margin-top: 5vw;
        margin-left: 5vw;
    }
    
    #tag2 { 
        display: inline;
        margin: 0;
    }
    
    #tag span, #tag2 span {
        font-weight: 400;
    } 
    
    #topic {
        width: 88vw;
        font-size: 48px;
        font-weight: 900;
        color: #fff;
        margin-top: 20vw;
        margin-left: 5vw;
    }
    
    #choice, #choice2 {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        margin-top: 10vw;
        margin-left: 6vw;
        cursor: pointer;}
    
    #choice span, #choice2 span {
        vertical-align: -3px;
    }
    
    #choice2 {
        color: #00AA90;
        margin: 0;
        margin-left: 20px;}
    
    #scroll {
        display: block;
        width: 50px;
        font-size: 30px;
        line-height: 8px;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 92vh;
        left: calc(50vw - 25px);
    }
    
    #item1, #item2 {
        width: 88vw;
        height: calc(50vh - 3vw - 30px);
        background: #f7f7f7;
        cursor: pointer;
    }
    
    #item2 {
        background: #f3f3f3;
    }
    
    #model {
        width: 36vw;
        max-width: 128px;
        height: 47vw;
        max-height: 166px;
        background-size: contain;
    }
    
    #icon {
        width: 36vw;
        max-width: 120px;
        height: 36vw;
        max-height: 120px;
        background-size: contain;
    }
    
    #itemImg, #itemImg2, #itemInfo, #itemInfo2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    #itemImg {
        height: calc(50vh - 18vw - 30px);
    }
    
    #itemImg2 {
        height: calc(50vh - 33vw - 30px);
        padding-top: 5vw;
    }
    
    #itemInfo {
        height: 15vw;     
    }
    
    #itemInfo2 {
        height: 25vw;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #00AA90;
        text-align: center;
    } 

}




@media screen and (min-width:999px){ 
    
   /*header*/
    #home, #page {
        width: calc(100vw - 80px);
        height: calc(100vh - 100px);
        margin-left: 40px;
    }
    
    #logo, #navBar{
        width: calc(100vw - 100px);
        height: 80px;
        line-height: 80px;
    }
    
    #navBar { 
        width: 60px;
        height: 75px;
        padding-top: 5px;
        padding-right: 40px;
    }
    
    #logo a span {
        margin-left: 40px;
    }
    
    #hBox {
        height: 40px;
    }
    
    #tag, #tag2 { 
        margin-top: 100px;
        margin-left: 80px;
    }
    
    #tag2 { 
        margin: 0;
    }
    
    
    #topic {
        width: calc(100vw - 80px);
        margin-top: 80px;
        margin-left: 80px;
    }
    
    #choice, #choice2 {
        margin-top: 40px;
        margin-left: 80px;}
    
    #choice2 {
        color: #00AA90;
        margin: 0;
        margin-left: 20px;}
    
    #scroll {
        top: 88vh;
        left: 100px;
    }
    
    #item1, #item2 {
        width: calc(50vw - 40px);
        height: calc(100vh - 100px);
        float: left;
    }
    
    #model {
        max-width: 320px;
        max-height: 420px;
    }
    
    #icon {
        max-width: 300px;
        max-height: 300px;
    }
    

    #itemImg {
        height: calc(100vh - 500px);
        padding-top: 100px;
    }
    
    #itemImg2 {
        height: calc(100vh - 600px);
    }
    
    #itemInfo {
        height: 300px;
    }
    
    #itemInfo2 {
        height: 500px;
        font-size: 20px;
        line-height: 24px;
    } 
    
}