doctype html
html
  head
    title 圓周律資訊有限公司 3.1416.tw
    //meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")
    //fonts
    link(href="https://fonts.googleapis.com/css?family=Work+Sans:100,500,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,500,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400" rel="stylesheet")
    //reset css
    link(rel="stylesheet" href="css/reset.css")
    //css
    link(rel="stylesheet" href="css/index.css")
    //WebsiteIcon.SafariShortCutIcon
    link(rel="apple-touch-icon" href="assets/apple-touch-icon.png")
    link(rel="icon" type="image/x-icon" href="assets/apple-touch-icon.ico")
    link(rel="shortcut icon" type="image/x-icon" href="assets/apple-touch-icon.ico")
    //js
    script(type="text/javascript" src="js/jquery.min.js")
    //- script(type="text/javascript" src="js/jquery.mousewheel.min.js")
    //- script(type="text/javascript" src="js/mobile-detect.min.js")
    script(type="text/javascript" src="js/app.js")

  body
    nav.flex
      #menu.nav-button.nav-menu.flex
        input#menu-Toggle(type="checkbox")
        img.nav-menu-close(src="assets/icon-menu.svg")
        img.nav-menu-open(src="assets/icon-close.svg")
        ul#menu-Tab
          li 
            a(href="https://iask.tw/" onclick="closeMenu()") iAsk
          li 
            a(href="https://interview.tw/" onclick="closeMenu()") 面試趣
          li 
            a(href="https://salary.tw/" onclick="closeMenu()") 比薪水
          li 
            a(href="https://o2o.tw/" onclick="closeMenu()") 生活圈圈
          li 
            a(href="https://wajob.cc/" onclick="closeMenu()") 挖工作
          li 
            a(href="https://helpresu.me/" onclick="closeMenu()") 履歷幫幫忙
          br
          p 合作夥伴
          li 
            a(href="https://zi.media/" onclick="closeMenu()") 字媒體 ZiMedia
          .in-menu-contact.flex
            a.flex(href="#contact" onclick="closeMenu()" data-scroll)
              img(src="assets/icon-location.svg")
              span &ensp;聯絡我們
      .nav-button.nav-logo.flex
        img.nav-logo-vertical(src="assets/logo-vertical.svg")
        img.nav-logo-horizontal(src="assets/logo-horizontal.svg")
      .nav-button.nav-location.flex(onclick="javascript:location.href='#contact'" data-scroll)
        img.nav-location-icon(src="assets/icon-location.svg")

    .overview.flex-set(data-scroll)
      //標題
      .webtitle.flex-set.flex
        .space
        h1 歡迎<br>
          | 為你隆重介紹<br>
          span 3.1416.tw 
        //滾動提示
        .scroll-instruction.flex
          .scroll-icon
          span 滾動瀏覽
        //時軸
        .product-line
          span

      //1.iask
      #intro-iask.intro.flex-set.flex.intro-first
        img.intro-scene-phone(src="assets/scene/scene-01-iask-phone.png")
        img.intro-scene(src="assets/scene/scene-01-iask.png")
        .intro-text
          h2 iAsk
          p 在 iAsk 中，<br>
            | 你的每個問題與回答，都有價值。<br>
            | 不管是提出問題或是回答問題，<br>
            | 都能為你增加收入。
          a.intro-btn(href="https://iask.tw/") 
            span 建立你的知識履歷
            span.intro-btn-icon &#8599;

      //2.interview
      #intro-interview.intro.flex-set.flex
        img.intro-scene-phone(src="assets/scene/scene-02-interview-phone.png")
        img.intro-scene(src="assets/scene/scene-02-interview.png")
        .intro-text
          h2 面試趣
          p 評鑑您面試的公司，<br>
            | 幫助更多人面面俱到～<br>
            | 一起來幫助面試夥伴吧！<br>
            | <br>
          a.intro-btn(href="https://interview.tw") 
            span 馬上了解面試公司
            span.intro-btn-icon &#8599;

      //3.salary
      #intro-salary.intro.flex-set.flex
        img.intro-scene-phone(src="assets/scene/scene-03-salary-phone.png")
        img.intro-scene(src="assets/scene/scene-03-salary.png")
        .intro-text
          h2 比薪水
          p 有比較，才有進步。<br>
            | 平均薪資行情，你跟上了嗎？
          p.average-salary 39,834
            span &emsp;新台幣／月
          a.intro-btn(href="https://interview.tw") 
            span 薪水超級比一比
            span.intro-btn-icon &#8599;

      //4.o2o
      #intro-o2o.intro.flex-set.flex
        img.intro-scene-phone(src="assets/scene/scene-04-o2o-phone.png")
        img.intro-scene(src="assets/scene/scene-04-o2o.png")
        .intro-text
          h2 生活圈圈
          p <br>
            | <br>
            | <br>
            | <br>
          a.intro-btn(href="https://o2o.tw/") 
            span 探索你的生活圈
            span.intro-btn-icon &#8599;

      //5.wajob
      #intro-wajob.intro.flex-set.flex
        img.intro-scene-phone(src="assets/scene/scene-05-wajob-phone.png")
        img.intro-scene(src="assets/scene/scene-05-wajob.png")
        .intro-text
          h2 挖工作
          p <br>
            | <br>
            | <br>
            | <br>
          a.intro-btn(href="https://wajob.cc/") 
            span 搜羅全台工作職缺
            span.intro-btn-icon &#8599;

      //6.helpresume
      #intro-helpresume.intro.flex-set.flex
        img.intro-scene-phone(src="assets/scene/scene-06-helpresume-phone.png")
        img.intro-scene(src="assets/scene/scene-06-helpresume.png")
        .intro-text
          h2 履歷幫幫忙
          p <br>
            | <br>
            | <br>
            | <br>
          a.intro-btn(href="https://helpresu.me/") 
            span 製作專屬面試履歷
            span.intro-btn-icon &#8599;

      //聯絡我們
      #contact.flex-set.flex
        .contact-map
          iframe(src="https://bit.ly/2ARPKTY" frameborder="0" style="border:0")
        .contact-box
          h2 聯絡我們
          .contact-info
            .contact-info-content.flex
              img(src="assets/icon-location.svg")
              p &ensp;80743 高雄市
                | <br/ class="br-m-none">&ensp;三民區 博愛一路 391 號 6 樓
            .contact-info-content.flex
              img(src="assets/icon-tel.svg")
              p &ensp;07-3239188&ensp;&emsp;
            .contact-info-content.flex
              img(src="assets/icon-mail.svg")
              p &ensp;contact@3.1416.tw

      //footer
      #footer Copyright © 2019 圓周律資訊有限公司&ensp;
        | <br/ class="br-m-none">All Rights Reserved.

    //背景小物件
    .small-chara.small-chara-slash.fadeOut /
    .small-chara.small-chara-cross.fadeOut ×
    .small-chara.small-chara-leftguillemet.fadeOut &lt;
    .small-chara.small-chara-pi.fadeOut π
    .small-chara.small-chara-leftbracket.fadeOut {
    .small-chara.small-chara-colon.fadeOut :
    .small-chara.small-chara-rightbracket.fadeOut }

